.about-preview {
    display: flex;
    gap: 30px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 25px;
    min-width: 760px;
}

.about-preview-photo img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.about-preview-photo img:hover {
    filter: blur(1.5px);
    transition: .3s;
}

.about-preview-otherside {
   width: 100%;
}

.about-preview-name {
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    border-bottom: 3px solid rgb(230, 114, 7);
    padding-bottom: 30px;
    margin-bottom: 30px;
    min-height: 25px;
}

.about-preview-container {
    display: flex;
    justify-content: space-between;
}

.about-preview-right {
    text-align: right;
}

.about-preview-address {
    width: 45%;
}

b {
    color: rgb(230, 114, 7);
}