.section {
    margin: 30px 0px;
    min-width: 765px;
}

.section-container {
    display: flex;
    gap: 50px;
}

.section-title-container {
    border-bottom: 3px solid rgb(230, 114, 7);
    padding-bottom: 5px;
    width: 30%;
    height: 100%;
}

.section-title {
    width: 80%;
    font-family: 'Inter';
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 0.5px;
    font-size: .94rem;
    color: rgb(230, 114, 7);
    text-transform: uppercase;
}

.section-content {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 20px;
    width: 100%;
}

.section-content .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-content:hover {
    background-color: rgba(0, 0, 0, .1);
    padding: 15px 10px;
    cursor: pointer;
}

.section-content:focus {
    background-color: rgba(0, 0, 0, .1);
    padding: 15px 10px;
    cursor: pointer;
    outline: 2px solid rgb(230, 114, 7);
}