.title-container {
    width: 99%;
    /* margin-bottom: 20px; */
}

.title-header {
    font-weight: normal;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

.title-header .title {
    letter-spacing: .35px;
}

.subtitle {
    padding-top: 3px;
    font-size: .9rem;
}